
h2 {
  color:khaki;
  position: absolute;
  left:520px; 
  top:560px;  
  text-decoration: none;
}
.img2{
  position: relative; z-index: 10000;
  border: 5px groove snow;
  margin:100px 400px ;
  }

.img3{ 
    margin: -580px 380px;
}
.img4{ 
    margin: -50 424px;
    border: 3px solid black;
  }
  .img4:hover {
    width: 310px;
    margin: -50 420px;
    display: inline;
  }