h1 {
  color:khaki;
  background-color: #3366CC;
  border: 4px solid silver;
}
::first-line{
  text-shadow: 10px 10px 10px black; 
}
.img2{
  position: relative; z-index: 10000;
  border: 5px groove snow;
  margin:100px;
  }


h2 {
  color:khaki;
  position: absolute;
  left:170px; 
  top:560px;  
  text-decoration: none;
  ;
}
.img3{ 
  margin: 90px -384px;

}
.img4{ 
  margin: 0 77px;
  border: 3px solid black;
}
.img4:hover {
  width: 310px;
  margin: 0 73px;
  display: inline;
}
.img5{
  position: relative; z-index: 10000;
  border: 5px groove snow;
  margin: -470px 950px;
}
.img6{ 
  margin: -489px 930px;
}
.img7{
  margin: -105px 928px;
  border: 3px solid black;
}
.img7:hover {
  width: 310px;
  margin: -105px 924px;
  display: inline;
}







.img8 {
  color:khaki;
  position: absolute;
  left:170px; 
  top:560px; 
  left:938px; 
  top:560px;  
}

